.container {
    max-width: 500px;
    max-height: 700px;
    margin: 0 auto;
    outline: 2px solid black; 
    background-color: lightgrey;
}

.titleCalculator {
    font-size: medium;
}

.row {
    display: flex;
}

#result-display {
    height:auto;
    width:auto;
}

.display {
    display:flex;
    justify-content: center;
    outline-color: black;
}

h1 {
    text-align: center;
    font-family: fantasy;
}

.cell{ /* in other words column here */
    background-color: lightgrey;
    padding: 1rem 0;
    flex: 1;
    margin:8px;
    width:70px;
    font-weight: bold;

}
